* {
  font-size: 15px;
  margin: 0;
  text-decoration: none;
}

br {
  line-height: 27px;
}

body {
  background-color: rgb(250, 250, 255)
}

tbody tr {
  background-color: white;
}

td {
  color: black;
  font-size: 13px;
}

td a {
  color: black;
  font-size: 12px;
}

td a:hover {
  color: #133345;
  font-size: 12px;
  text-decoration: none;
}

tr td:not(:first-child) {
  text-align: center;
}

tr th:not(:first-child) {
  text-align: center;
}
tr th {
  font-size: 12px;
}

.lidar-tag {
  font-size: 11px;
  padding-top: 3px;
  border-radius: 2px;
  background-color: #FFDDDD;
  outline: none;
  border: 0;
  color: #888888;
}

.image-tag {
  font-size: 11px;
  padding-top: 3px;
  border-radius: 2px;
  background-color: #DDFFDD;
  outline: none;
  border: 0;
  color: #888888;
}
.threedbox-tag {
  font-size: 11px;
  padding-top: 3px;
  border-radius: 2px;
  background-color: #DDDDFF;
  outline: none;
  border: 0;
  color: #888888;
}
.twodbox-tag {
  font-size: 11px;
  padding-top: 3px;
  border-radius: 2px;
  background-color: #DDFFFF;
  outline: none;
  border: 0;
  color: #888888;
}
.segment-tag {
  font-size: 11px;
  padding-top: 3px;
  border-radius: 2px;
  background-color: #FFDDFF;
  outline: none;
  border: 0;
  color: #888888;
}
.video-tag {
  font-size: 11px;
  padding-top: 3px;
  border-radius: 2px;
  background-color: #FFFFDD;
  outline: none;
  border: 0;
  color: #888888;
}
.tooltip-inner {
min-width: 200px; /* the minimum width */
font-size:13px;
text-align: left;
background: #444444;
}
